<!-- Global JS to add to the bottom of pages -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script
  async
  src="https://cse.google.com/cse.js?cx=010079880385165835740%3Aosnv3q-sw08"
></script>
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-KWSES5WXZE"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-KWSES5WXZE", {
    client_storage: "none",
    anonymize_ip: true,
  });
</script>
<script src="/assets/js/tabs.js"></script>
<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
<script>
  anchors.add();
</script>
{{ header_search_script }}
