{%- capture caret -%}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7803 6.21967C13.0732 6.51256 13.0732 6.98744 12.7803 7.28033L8.53033 11.5303C8.23744 11.8232 7.76256 11.8232 7.46967 11.5303L3.21967 7.28033C2.92678 6.98744 2.92678 6.51256 3.21967 6.21967C3.51256 5.92678 3.98744 5.92678 4.28033 6.21967L8 9.93934L11.7197 6.21967C12.0126 5.92678 12.4874 5.92678 12.7803 6.21967Z"></path>
</svg>
{%- endcapture -%}

<div id="sidebar">
  {%- assign ordered_pages_list = site.html_pages | where_exp: "item", "item.nav_order != nil" -%}
  {%- assign unordered_pages_list = site.html_pages | where_exp: "item", "item.nav_order == nil" -%}
  {%- assign sorted_ordered_pages_list = ordered_pages_list | sort: "nav_order" -%}
  {%- assign sorted_unordered_pages_list = unordered_pages_list | sort: "title" -%}
  {%- assign pages_list = sorted_ordered_pages_list | concat: sorted_unordered_pages_list -%}
  {%- for node in pages_list -%}
    {%- if node.nav_exclude != true -%}
      {%- if node.parent == nil and node.title -%}
        <details class="parent" open>
          <summary>
            <a href="{{ node.url }}" class="{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
            {% if node.has_children %}{{ caret }}{% endif %}
          </summary>
          {% if page.parent == node.title or page.grand_parent == node.title or page.great_grand_parent == node.title %}
            {% assign first_level_url = node.url %}
          {% endif %}
          {%- if node.has_children -%}
            {%- assign children_list = pages_list | where: "parent", node.title -%}
            <ul id="node-{{ forloop.index }}">
            {%- for child in children_list -%}
              {%- if child.nav_exclude != true || (page.url == child.url or page.parent == child.title or page.grand_parent == child.title) -%}
                <details class="child" {% if page.url == child.url or page.parent == child.title or page.grand_parent == child.title %}open{% endif %}>
                  <summary>
                    <a href="{{ child.url }}" class="{% if page.url == child.url or page.parent == child.title %} active{% endif %}">{{ child.title }}</a>
                    {% if child.has_children %}{{ caret }}{% endif %}
                  </summary>
                  {% if page.url == child.url or page.parent == child.title or page.grand_parent == child.title %}
                    {% assign second_level_url = child.url %}
                  {% endif %}
                  {%- if child.has_children -%}
                    {%- assign grand_children_list = pages_list | where: "parent", child.title | where: "grand_parent", node.title -%}
                    <ul id="child-{{ forloop.index }}">
                    {%- for grand_child in grand_children_list -%}
                      {%- unless grand_child.nav_exclude -%}
                        <details class="child" {% if page.url == grand_child.url or page.parent == grand_child.title or page.grand_parent == grand_child.title %}open{% endif %}>
                          <summary>
                            <a href="{{ grand_child.url }}" class="{% if page.url == grand_child.url or page.parent == grand_child.title %} active{% endif %}">
                              {% if grand_child.is_bulk %}<bulk-tag>BULK</bulk-tag> {% endif %}
                              {{ grand_child.title }}
                            </a>
                            {% if grand_child.has_children %}{{ caret }}{% endif %}
                          </summary>
                          {% if page.url == grand_child.url or page.parent == grand_child.title or page.grand_parent == grand_child.title %}
                            {% assign third_level_url = grand_child.url %}
                          {% endif %}
                          {%- if grand_child.has_children -%}
                            {%- assign great_grand_children_list = pages_list | where: "parent", grand_child.title | where: "grand_parent", child.title | where: "great_grand_parent", node.title -%}
                            <ul id="grandchild-{{ forloop.index }}">
                            {%- for great_grand_child in great_grand_children_list -%}
                              {%- unless great_grand_child.nav_exclude -%}
                                <li class="{% if page.url == great_grand_child.url %}active{% endif %}">
                                  <a href="{{ great_grand_child.url }}" class="{% if page.title == great_grand_child.title %} active{% endif %}">
                                    {{ great_grand_child.title }}
                                  </a>
                                </li>
                              {%- endunless -%}
                            {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </details>
                      {%- endunless -%}
                    {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </details>
              {%- endif -%}
            {%- endfor -%}
            </ul>
          {%- endif -%}
        </details>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</div>