/**
Custom CSS for API Method Documentation pages

See api/rest/rest_api_template.md for an example of how these are used.
**/

/***********************
Variables (Page settings)
************************/

$round-corner-radius: 10px;
$code-font-size: 0.8em;
$code-background-color: #f5f6fa;
$api-tag-blue: #0e84b5;
$keyword-blue: #062873;
$param-red: #ff686b;
$scrollbar-size: 5px;

/***********
Placeholders
************/

%param-tag {
  font-size: 0.75em;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: -1px;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 2px;
}

%box-top {
  border: 1px solid var(--dc-gray-lite);
  border-top-left-radius: $round-corner-radius;
  border-top-right-radius: $round-corner-radius;
  margin-bottom: 0;
}

%box-bottom {
  border: 1px solid var(--dc-gray-lite);
  border-top: none;
  border-bottom-left-radius: $round-corner-radius;
  border-bottom-right-radius: $round-corner-radius;
}

%code-box {
  font-size: 0.8em;
  font-family: monospace;
  background: $code-background-color;
}

/**********
Style
**********/

// REQUIRED label for parameters
required-tag {
  @extend %param-tag;
  background-color: $api-tag-blue;
  color: #fff;
}

// OPTIONAL label for parameters
optional-tag {
  @extend %param-tag;
  color: $api-tag-blue;
  background-color: #fff;
  border: 1px solid $api-tag-blue;
}

/*
Custom syntax highlighting
*/

//highlighting for {parameter}
.param {
  color: $param-red;
  font-weight: bold;
  font-family: monospace;
}

//highlighting for URL / JSON Data keywords
.keyword {
  color: $keyword-blue;
  font-weight: bold;
  font-family: monospace;
}

/*
Styling for the API signature/format box
*/

//title bar for simple APIs
.api-header {
  @extend %box-top;
  background-color: #f1f1f1;
  padding: 10px 20px;
  filter: drop-shadow(0 0 0.2em rgba(0, 0, 0, 0.1));
  font-size: 17px;
}

//signature/format box contents
.api-signature {
  @extend %box-bottom;
  overflow: hidden;
  filter: drop-shadow(0 0.2em 0.2em rgba(0, 0, 0, 0.1));

  pre {
    margin-bottom: 0;
    overflow: auto;
    background-color: $code-background-color;
    padding: 30px;
  }

  code {
    color: #0e84b5;
    font-family: monospace;
    font-size: 1em;
    background-color: $code-background-color;
  }
}

// tabs for Bulk pages
.api-tab {
  @extend %box-top;
  background-color: #f1f1f1;
  overflow: hidden;
  filter: drop-shadow(0 0 0.2em rgba(0, 0, 0, 0.1));

  button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;

    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: #ccc;
    }
  }
}

.api-tabcontent {
  display: none;
}

/*
"Response looks like" box
*/

.response-signature {
  @extend %code-box;
  overflow: hidden;
  border-radius: $round-corner-radius;

  pre,
  code {
    max-height: 40em;
    margin-bottom: 0;
    overflow: auto;
  }
}

/*
Parameter & response field tables
*/

.doc-table {
  border-collapse: collapse;
  width: 100%;

  td:nth-child(1) {
    color: $keyword-blue;
    font-weight: bold;
    font-family: monospace;
    font-size: 0.9em;
  }
}

/*
"REQUEST:" and "RESPONSE:" boxes in the example sections
*/

.example-box-title {
  @extend %box-top;
  background-color: #a3a8bb;
  font-size: 0.75em;
  font-family: var(--font-family);
  color: #fff;
  text-transform: uppercase;
  padding: 0.35em 0.5em 0.35em 0.75em;
  margin-top: 0.5em;
}

.example-box-content {
  @extend %box-bottom;
  @extend %code-box;
  max-height: 20em;
  scrollbar-color: var(--dc-gray-lite);
  scrollbar-width: 5px;
  overflow: hidden;

  pre {
    max-height: 20em;
    overflow: auto;
  }

  .highlight {
    margin-bottom: 0px;
  }
}

/*
Custom scrollbars for code boxes
*/

.scroll pre {
  scrollbar-color: var(--dc-gray-lite);
  scrollbar-width: $scrollbar-size;

  &::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;

    &-thumb {
      background-color: #d2d3d8;
    }

    &-corner {
      background-color: transparent;
    }
  }
}
