.blog-posts {
  padding-left: 0;
  list-style-type: none;
}

.blog-posts h2 {
  margin-top: 0;
}

.blog-posts > li {
  margin-bottom: 4rem;
}

.blog-byline {
  color: var(--dc-gray);
  text-transform: uppercase;
  font-size: 1rem;
}

img {
  max-width: 100%;
}