
.tab-group {
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.tab-headers {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.tab-headers li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;

}

.tab-headers .active {
  border-bottom: 4px solid  #1e87f0;
  font-weight: bold;
}

.tab-content div {
  display: none;
  padding: 20px;
}

.tab-content .active {
  display: block;
  padding: 20px;
}

.tab-content > * {
  display: initial;
}