<!DOCTYPE html>

<html lang="en">
<head>
  <title>{{ page.title }} - Docs - Data Commons</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png"/>
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@300;400;500;700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Text:wght@300;400;500;700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&family=Roboto&family=Material+Icons&display=swap" rel="stylesheet">
  <link href="/assets/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/custom.css">
  {% if page.url == "/api/web_components/" or page.parent == "Web Components" %}
  <script src="https://datacommons.org/datacommons.js"></script>
  {% endif %}
  {% if page.url == "/datasets/" or page.parent == "Data Sources" %}
  <script src="https://public.flourish.studio/resources/embed.js"></script>
  {% endif %}
</head>
<body>
  <div id="main">
    <header id="main-header">
      <nav class="navbar navbar-light navbar-expand-lg col" id="main-nav">
        <div class="container-fluid">
          <div class="navbar-brand">
            <div id="main-header-logo">
                <a href="https://datacommons.org/">
                  <img src="/assets/images/dc-logo.svg" />
                </a>
            </div>
            <a href="https://datacommons.org">Data Commons</a>
            <!-- dot separater -->
            <span class="separator">&#8226;</span>
            <span><a href="/">Docs</a></span>
            </a>
          </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#dc-main-nav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="dc-main-nav">
            <div class="gcse-searchbox-only"
              data-resultsUrl="https://datacommons.org/search"></div>
            </div>
            </div>
      </nav>
    </header>

    <main id="{{ main_id }}" class="container-fluid">
      <div class="row">
        <div id="main-side-nav" class="col-3">
          {% include sidebar.html %}
        </div>
        <div class="col-9">
          <div id="main-doc-content">
            {% unless page.url == "/" %}
              {% if page.parent %}
                <nav aria-label="Breadcrumb" id="main-breadcrumb">
                  <ol class="breadcrumb">
                    {% if page.great_grand_parent %}
                    <li class="breadcrumb-item">
                      <a href="{%- if page.great_grand_parent_url -%}{{ page.great_grand_parent_url }}{% else %}{{ first_level_url }}{% endif -%}">
                        {{ page.great_grand_parent }}
                      </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="{%- if page.grand_parent_url -%}{{ page.grand_parent_url }}{% else %}{{ second_level_url }}{% endif -%}">
                        {{ page.grand_parent }}
                      </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="{%- if page.parent_url -%}{{ page.parent_url }}{% else %}{{ third_level_url }}{% endif -%}">
                        {{ page.parent }}
                      </a>
                    </li>
                    {% elsif page.grand_parent %}
                      <li class="breadcrumb-item">
                        <a href="{%- if page.grand_parent_url -%}{{ page.grand_parent_url }}{% else %}{{ first_level_url }}{% endif -%}">
                          {{ page.grand_parent }}
                        </a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="{%- if page.parent_url -%}{{ page.parent_url }}{% else %}{{ second_level_url }}{% endif -%}">
                          {{ page.parent }}
                        </a>
                      </li>
                    {% else %}
                      <li class="breadcrumb-item">
                        <a href="{%- if page.parent_url -%}{{ page.parent_url }}{% else %}{{ first_level_url }}{% endif -%}">
                          {{ page.parent }}
                        </a>
                      </li>
                    {% endif %}
                    <li class="breadcrumb-item active"><span>{{ page.title }} {% if page.is_bulk %}(Bulk version){% endif %}</span></li>
                  </ol>
                </nav>
              {% endif %}
            {% endunless %}
            {{ content }}
          </div>
          <div style="text-align:center" id="last-update">
            <p>
             Page last updated: {% last_modified_at %}
           </p>
         </div>
          <div style="text-align:center" id="feedback-form">
             <p>
              <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf23mC17idzIpzg6v4frCh8iWTl9dxeb4iSTVgo0WiBvnv5ZA/viewform?usp=pp_url&entry.871991796={{ page.url }}">
              Send feedback about this page
              </a>
            </p>
          </div>
      </div>
    </main>

    <footer id="main-footer">
      <div id="sub-footer">
        <span class="brand-byline">
          <span class="brand-text">An initiative from</span>
          <img class="brand-logo" src="/assets/images/google-logo.svg" />
        </span>
        <div class="sub-footer-links">
          <a href="https://policies.google.com/terms">Terms and Conditions</a>
          <a href="https://policies.google.com/privacy?hl=en-US">Privacy Policy</a>
        </div>
      </div>
    </footer>
  </div>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script async
    src="https://cse.google.com/cse.js?cx=010079880385165835740%3Aosnv3q-sw08"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KWSES5WXZE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-KWSES5WXZE', {
      client_storage: 'none',
      anonymize_ip: true,
    });
  </script>
  <script>
    /**
     * Add placeholder text for Google Custom Search Engine search box in the page header
     */
    window.addEventListener("load", function() {
      const googleCustomSearchInput = document.querySelector(".gsc-search-box input[name=\"search\"]");
      if (googleCustomSearchInput) {
        googleCustomSearchInput.placeholder = "Search docs";
      }
    });
  </script>
  <script src="/assets/js/tabs.js"></script>
</body>
</html>
