<!DOCTYPE html>

<html lang="en">
<head>
  <title>{{ page.title }} - Docs - Data Commons</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png"/>
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@300;400;500;700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Text:wght@300;400;500;700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&family=Roboto&family=Material+Icons&display=swap" rel="stylesheet">
  <link href="/assets/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/custom.css">
  {% if page.url == "/api/web_components/" or page.parent == "Web Components" %}
  <script src="https://datacommons.org/datacommons.js"></script>
  {% endif %}
  {% if page.url == "/datasets/" or page.parent == "Data Sources" %}
  <script src="https://public.flourish.studio/resources/embed.js"></script>
  {% endif %}
</head>
<body>
  <div id="main">
    {% include header.html %}

    <main id="{{ main_id }}" class="container-fluid">
      <div class="row">
        <div id="main-side-nav" class="col-3">
          {% include sidebar.html %}
        </div>
        <div class="col-9">
          <div id="main-doc-content">
            {% unless page.url == "/" %}
              {% if page.parent %}
                <nav aria-label="Breadcrumb" id="main-breadcrumb">
                  <ol class="breadcrumb">
                    {% if page.great_grand_parent %}
                    <li class="breadcrumb-item">
                      <a href="{%- if page.great_grand_parent_url -%}{{ page.great_grand_parent_url }}{% else %}{{ first_level_url }}{% endif -%}">
                        {{ page.great_grand_parent }}
                      </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="{%- if page.grand_parent_url -%}{{ page.grand_parent_url }}{% else %}{{ second_level_url }}{% endif -%}">
                        {{ page.grand_parent }}
                      </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="{%- if page.parent_url -%}{{ page.parent_url }}{% else %}{{ third_level_url }}{% endif -%}">
                        {{ page.parent }}
                      </a>
                    </li>
                    {% elsif page.grand_parent %}
                      <li class="breadcrumb-item">
                        <a href="{%- if page.grand_parent_url -%}{{ page.grand_parent_url }}{% else %}{{ first_level_url }}{% endif -%}">
                          {{ page.grand_parent }}
                        </a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="{%- if page.parent_url -%}{{ page.parent_url }}{% else %}{{ second_level_url }}{% endif -%}">
                          {{ page.parent }}
                        </a>
                      </li>
                    {% else %}
                      <li class="breadcrumb-item">
                        <a href="{%- if page.parent_url -%}{{ page.parent_url }}{% else %}{{ first_level_url }}{% endif -%}">
                          {{ page.parent }}
                        </a>
                      </li>
                    {% endif %}
                    <li class="breadcrumb-item active"><span>{{ page.title }} {% if page.is_bulk %}(Bulk version){% endif %}</span></li>
                  </ol>
                </nav>
              {% endif %}
            {% endunless %}
            {{ content }}
          </div>
          <div style="text-align:center" id="metadata">
            <p>
             Page last updated: {% last_modified_at %} &#8226; <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf23mC17idzIpzg6v4frCh8iWTl9dxeb4iSTVgo0WiBvnv5ZA/viewform?usp=pp_url&entry.871991796={{ page.url }}">
              Send feedback about this page
              </a>
            </p>
          </div>
      </div>
    </main>

    {% include footer.html %}
  </div>
  {% include scripts.html %}
</body>
</html>
